.form-rounded {
    border-radius: 1rem;
    }
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
     
.example-radio-button {
    margin: 5px;
}
#radid{
  margin-left:16px;
  
  
}
